@import 'tailwindcss';
@plugin 'daisyui';


.main-section {
    @apply card bg-base-100 shadow-lg;

    position:absolute;
    top: 8rem;
    left:50%;
    min-height: 50vh;
    min-width: 400px;
    padding: 1rem;
    transform:translate(-50%, 0%);
}

.main-navbar {
    @apply card bg-base-100 shadow-lg;
    position:fixed;
    top: 1rem;
    left:50%;
    padding: 0.5rem;
    z-index: 100;
    transform:translate(-50%, 0%);
}


.bg {
    animation:slide 6s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, var(--color-warning) 50%, var(--color-error) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}

.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:8s;
}

.bg3 {
    animation-duration:10s;
}

@keyframes slide {
    0% {
        transform:translateX(-25%);
    }
    100% {
        transform:translateX(25%);
    }
}